.blogs {
    height: 100vh;
}

.blogs__main {
    font-family: 'Delius', cursive;
}

.blogs__main .blogs__title {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    font-weight: 600;
    color: #1d3557;
}

.blogs__main .highlight {
    color: #e63946;
}

.blogs__main .blogs__text {
    font-size: 24px;
}