.about {
    height: 100vh;
}

.component__nav {
    background-color: #1d3557;
}

.component__nav h3 {
    font-family: 'Kaushan Script', cursive;
    color: #a8dadc;
}

.nav-item {
    color: #a8dadc;
    cursor: pointer;
}

.nav-item:hover {
    color: #f1faee;
    transition: 0.6s;
}

.about__main {
    font-family: 'Delius', cursive;
}

.about__main .hello__text {
    font-size: 20px;
}

.about__main .about__name {
    font-family: 'Kaushan Script', cursive;
    font-size: 60px;
    font-weight: 600;
    color: #1d3557;
}

.about__main .highlight {
    color: #e63946;
}

.about__main .about__title {
    color: #e63946;
}

.about__main .main__text {
    font-size: 24px;
}

.about__main .main__text a {
    text-decoration: none;
}

.about__main .social__links .social__icon {
    height: 40px;
    width: 40px;
    margin: auto 5px;
    color: #1d3557;
}

.about__main .social__links .social__icon:hover {
    color: #e63946;
}

.about__main .skills ul, .about__main .interests ul {
    list-style: none;
    padding: 0;
}

.about__main .skills li, .about__main .interests li {
    float: left;
    transition: 0.3s;
}

.about__main .skills li:hover, .about__main .interests li:hover {
    background-color: #e63946;
    color: #fff;
}